@charset "UTF-8";
/* CSS Document */

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 3.49%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF SIX  */
.span_6_of_6 {
	width: 100%;
}

.span_5_of_6 {
  	width: 82.75%;
}

.span_4_of_6 {
  	width: 65.50%;
}

.span_3_of_6 {
  	width: 48.25%;
}

.span_2_of_6 {
  	width: 31.00%;
}

.span_1_of_6 {
  	width: 13.75%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 2.9% 0 2.9% 0%; }
	.span_1_of_6, .span_2_of_6, .span_3_of_6, .span_4_of_6, .span_5_of_6, .span_6_of_6 { width: 100%; }
}

/*  GRID OF FIVE  */
.span_5_of_5 {
	width: 100%;
}
.span_4_of_5 {
	width: 79.30%;
}
.span_3_of_5 {
	width: 58.60%;
}
.span_2_of_5 {
	width: 37.90%;
}
.span_1_of_5 {
	width: 17.20%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 2.9% 0 2.9% 0%; }
	.span_1_of_5, .span_2_of_5, .span_3_of_5, .span_4_of_5, .span_5_of_5 { width: 100%; }
}

/*  GRID OF FOUR  */
.span_4_of_4 {
	width: 100%;
}
.span_3_of_4 {
	width: 74.12%;
}
.span_2_of_4 {
	width: 48.25%;
}
.span_1_of_4 {
	width: 22.38%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 2.9% 0 2.9% 0%; }
	.span_1_of_4, .span_2_of_4, .span_3_of_4, .span_4_of_4 { width: 100%; }
}


/* GRID EXAMPLE */

#example .col {
	background-color: #ddf5ff;
	padding: 10px;
}

.align-middle {
	margin-left: auto;
	margin-right: auto;
}