@charset "UTF-8";
/* CSS Document */

.table-smart-recommendations {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #A0D8EC;
	font-size: 1.3rem;
    height: 6rem;
    position: relative;
}

.table-smart-recommendations th  {
	font-variant-caps: all-small-caps;
	padding: 15px;
	font-weight: 800;
	border: 1px solid #A0D8EC;
	font-size: 1.5em	
		
	} 
	
.table-smart-recommendations td {
    text-align: left;
    padding: 15px;
	border: 1px solid #A0D8EC;
}

.fellowship-title {
	font-size: 1.6rem;
    overflow: hidden;
    white-space: nowrap;
	color: #3344dd;
    text-decoration: none;
}

